---
import NavbarLayout from '../layouts/NavbarLayout.astro';
import { inject } from '@vercel/analytics';

inject();
---

<!-- 
  TODO: List favorite projects
  TODO: List information about me
  TODO: List contact information / social media
 -->
<NavbarLayout>
  <h1>Kian's Portfolio</h1>
</NavbarLayout>
