* {
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.overlay {
  left: 0;
  top: 0;
}

.overlayText, .overlayInput {
  margin-left: 1%;
  color: white;
}

.overlayInput {
  margin-left: 5%;
  width: 25%;
}