* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.App {
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.overlay {
  position: absolute;
  left: 1rem;
  top: 5rem;
}

.overlayText,
.overlayInput {
  margin-left: 1%;
  color: white;
}

.overlayInput {
  margin-left: 5%;
  width: 25%;
}
