---
import NavbarLayout from '../../layouts/NavbarLayout.astro';
import MegacubeCanvas from '../../components/cube/MegacubeCanvas.svelte';
---

<NavbarLayout title='Cube Demo'>
  <div class="w-full h-[calc(100vh-4rem)]">
    <MegacubeCanvas client:load />
  </div>
</NavbarLayout>
